.my-flex-container{
    height: 100px;
    border : 2px solid green;
    margin-bottom: 20px;

}

.my-flex-container-column{
    height: 200px;
    border : 2px solid green;
    margin-bottom: 20px;

}
.my-flex-item{
    background-color: lightgrey;
    border: 1px dotted grey;
    height:48px;
}

.my-flex-item-2{
    background-color: lightgrey;
    border: 1px dotted grey;
    height:96px;
}
